astropy==3.0
certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
idna==2.6
matplotlib==2.1.2
numpy==1.14.0
pandas==0.22.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
requests==2.18.4
scipy==1.0.0
simplejson==3.13.2
six==1.11.0
sunpy==0.8.3
urllib3==1.22
